<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <meta charset="UTF-8"/>
    <title th:text="${title}">Makeup ChangeUp</title>
</head>
<body>
<header>
<div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
            <a th:href="@{/}" class="navbar-brand">Makeup ChangeUp</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a class="nav-item nav-link" th:href="@{/add}">Add</a></li>
                <li><a class="nav-item nav-link" th:href="@{/view}">View</a></li>
            </ul>
        </div>
    </div>
</div>
</header>
<div class="container body-content text-center">
    <h1>Welcome!</h1>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/add}">Add Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/view}">View List</a>
        </li>
    </ul>
</div>
</body>
</html>