<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container body-content text-center">
    <h1>Welcome!</h1><br>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="btn btn-dark btn-lg btn-block" th:href="@{/makeupItems/add}">Add Item</a>
        </li><br>
        <li class="nav-item">
            <a class="btn btn-dark btn-lg btn-block" th:href="@{/makeupItems}">View List</a>
        </li>
    </ul>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>