<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container body-content text-center">
    <h1>Edit Item</h1>
</div>
<form method="post" th:action="@{/makeupItems/edit}">
    <div class="form-group">
        <label>Name
            <input class="form-control" name="name" th:value="${makeupItem.name}" />
        </label>
        <p class="error" th:errors="${makeupItem.name}"></p>
    </div>
    <div class="form-group">
        <label>Open Date
            <input class="form-control" type="date" name="purchaseDate" th:value="${makeupItem.purchaseDate}" />
        </label>
        <p class="error" th:errors="${makeupItem.purchaseDate}"></p>
        <!--        <input type="submit" value="Save" class="btn btn-info" />-->
        <!--        <small class="form-text text-muted">-->
        <!--            Save item info for later or choose month below to start countdown.-->
        <!--        </small>-->
    </div>
    <div class="form-group">
        <label>Expiration (Months)
            <div class="form-group" >
                <label class="radio-inline">3
                    <input type="radio" name="expiration" value="3" class="showSubmit" />
                </label>
                <label class="radio-inline">6
                    <input type="radio" name="expiration" value="6" class="showSubmit" />
                </label>
                <label class="radio-inline">12
                    <input type="radio" name="expiration" value="12" class="showSubmit" />
                </label>
                <label class="radio-inline">18
                    <input type="radio" name="expiration" value="18" class="showSubmit" />
                </label>
                <label class="radio-inline">24
                    <input type="radio" name="expiration" value="24" class="showSubmit" />
                </label><br>
                <input type="submit" value="Save" class="btn btn-info" id="Submit" />
            </div>
        </label>
    </div>
    <input type="hidden" th:value="${makeupItem.id}" name="makeupItemId" />
</form>
<div th:replace="fragments :: script"></div>
<script type="text/javascript" th:src="@{/script.js}"></script>
</body>
</html>