<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container body-content text-center">
    <h1>All Items</h1>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Purchase Date</th>
        <th>Expiration (Months)</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.purchaseDate}"></td>
        <td th:text="${item.expiration}"></td>
    </tr>
    </thead>
</table>
</body>
</html>