<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container body-content text-center">
    <h1>All Items</h1>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Purchase Date</th>
        <th>Expiration (Months)</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.purchaseDate}"></td>
        <td th:text="${item.expiration}"></td>
        <td>
            <a class="btn btn-danger" th:href="@{'/makeupItems/delete/' + ${item.id}}">Delete</a>
<!--            <input type="submit" value="Delete" class="btn btn-danger" />-->
        </td>
    </tr>
    </thead>
</table><br>
<a class="btn btn-outline-dark" th:href="@{'/makeupItems/add'}">Add Another Item</a>
</body>
</html>